/* Notes.css */

.notes-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.note-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color:  #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color:  #ff9900;
}

.note-list {
  list-style: none;
  padding: 0;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.note button {
  background-color: #ff2b2b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.note button:hover {
  background-color: #ff2b2b;
}
